body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.time{
  position: absolute;
  left: 0px;
  top: 100px;
}
.blocks{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-family: "Hannotate SC Regular";
}
.blocks li{
  margin-right: 10px;
  background-color: black;
  height: 150px;
  width: 100px;
  box-shadow: 0px 0px 20px #CCC;
}
.blocks li p{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 200%;
}
.blocks li h2{
  color: white;
  text-align: center;
  font-style: oblique;
  font-size: 150%;
}
#liverpool{
  margin-left: 20px;
}
h1{
  text-align: center;
  font-size: 220%;
}
