*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, Helvetica;
	font-size: 17px;
	color: #1a1a1a;
	line-height: 1.6;

}

#showcase{
	background-image: url('img/beach.png');
	height: 100vh;
	background-size: cover;
	background-position: center;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 20px;
}
#showcase h1{
	font-size: 50px;
	line-height: 1.2;
}

#showcase p{
	font-size: 20px;
	margin: 20px;
}

#showcase .button{
	font-size: 18px;
	text-decoration: none;
	color: #1a1a1a;
	border: #1a1a1a 1px solid;
	padding: 10px 20px;
	border-radius: 10px;
}

#showcase .button:hover{
	background-color: #1a1a1a;
	color: white;
}
#section-a{
	padding: 20px;
	color: #f4f4f4;
	background-color: #66c2ff;
	text-align: center;
}
#section-b{
	padding: 20px;
	color: #66c2ff;
	background-color: #f4f4f4;
	text-align: center;
}
#section-c div{
	padding: 15px;
}
#section-c{
	display: flex;
}
#section-c .box1, #section-c .box3{
	flex: 1;
	color: #f4f4f4;
	background-color: #66c2ff;
	text-align: center;
}
#section-c .box2{
	flex:1;
	color: #66c2ff;
	background-color: #f4f4f4;
	text-align: center;
}
